@media(max-width: 991px)
{
    .service-section .service-item, .portfolio-section .portfolio-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-section .home-text h2
    {
        font-size: 50px;
    }
}
@media(max-width: 767px)
{
    .home-section .home-text, .home-section .home-img, .about-section .about-info, .about-section .about-img,
    .about-section .skills .skill-item, .service-section .service-item, .portfolio-section .portfolio-item,
    .portfolio-popup .description, .portfolio-popup .info, .contact-section .contact-item, .contact-section .w-50
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text
    {
        order: 2;
    }
    .home-section .home-text, .contact-section .submit-btn
    {
        text-align: center;
    }
    .home-section .full-screen
    {
        padding: 100px 0;
    }
    .home-section .home-img .img-box
    {
        margin-bottom: 40px;
        max-width: 350px;
    }
    .home-section .home-text h2
    {
        font-size: 40px;
    }
    .effect-3
    {
        margin-left: -60px;
    }
    .effect-4
    {
        left: 15%;
    }
    .effect-5
    {
        right: 4%;
    }
    .about-section .about-img 
    {
        padding-bottom: 30px;
    }
    .about-section .timeline .timeline-item:nth-child(odd)
    {
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }
    .about-section .timeline .timeline-item:nth-child(even)
    {
        padding-left: 75px;
    }
    .about-section .timeline:before
    {
        left: 35px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon
    {
        right: auto;
        left: -60px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon
    {
        left: -60px;
    }
    .about-section .timeline .timeline-item
    {
        margin-bottom: 40px;
    }
    .about-section .timeline .timeline-item:nth-child
    {
        margin-bottom: 0;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before
    {
        left: -30px;
        right: auto;
    }
}
@media(max-width: 766px)
{
    .home-section .home-img .img-box
    {
        max-width: 77%;
    }
    .effect-2
    {
        bottom: 95px;
    }
    .effect-3
    {
        margin-left: -95px;
    }
    .effect-4
    {
        left: 9%;
    }
    .effect-5
    {
        top: 41%;
    }
}
@media(max-width: 500px)
{
    .home-section .home-img .img-box
    {
        max-width: 73%;
    }
    .testimonial-section .testi-item i
    {
        font-size: 22px;
    }
    .ScrollToTop
    {
        top: 92%;
    }
    .nav-menu .copyright-text
    {
        font-size: 16px;
        left: -60px;
    }
    .effect-2
    {
        bottom: 95px;
    }
    .effect-3
    {
        margin-left: -95px;
    }
    .effect-4
    {
        left: 9%;
    }
    .effect-5
    {
        top: 40%;
    }
}
@media(max-width: 400px)
{
    .home-section .home-img .img-box
    {
        max-width: 69%;
    }
    .home-section .home-text h2
    {
        font-size: 35px;
    }
}